.button {
    width: 143px;
    padding: 10px;
    background: hsla(0, 0%, 100%, 0.6);
    border: none;
    border-radius: 5px;
    justify-self: center;
    cursor: pointer;
}

@media (max-width: 470px) {
    .button {
        width: 120px;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .button {
        width: 100px;
        margin: 0 auto;
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .button {
        width: 90px;
        padding: 5px;
    }
}

.button:hover {
    background: hsla(0, 0%, 100%, 0.8);
}

/* @media (max-width: 830px) {
    .button--addToList {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
} */

.button--addList {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 630px) {
    .button--addList {
        margin-bottom: 20px;
    }
}

.button--addList:hover {
    background-color: hsla(90, 50%, 50%, 0.6);
}

.button--ofSwitchingList {
    margin: 10px 0;
    width: 200px;
}

@media (max-width: 690px) {
    .button--ofSwitchingList {
        width: 143px;
    }
}

.button--ofMenuList {
    background: none;
    border: none;
    margin: 5px 10px;
    padding: 10px 10px;
    width: 90%;
    text-align: left;
    font-size: 18px;
}

.button--deleteList:hover {
    background-color: hsla(0, 100%, 50%, 0.4);
}

.buttonImage {
    width: 25px;
    height: 25px;
    background: white;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buttonImage:focus, .buttonImage:active {
    overflow: hidden;
}

.buttonImage:hover {
    opacity: 0.5;
}

.buttonImage--header {
    visibility: hidden;
}

@media (max-width: 630px) {
    .buttonImage--header {
        visibility: visible;
        background: none;
        position: absolute;
        top: 25px;
        right: 25px;
        width: 28px;
    }
}

@media (max-width: 500px) {
    .buttonImage--header {
        top: 20px;
        right: 20px;
        width: 25px;
    }
}

@media (max-width: 415px) {
    .buttonImage--header {
        top: 20px;
        right: 0;
        width: 25px;
    }
}

@media (max-width: 350px) {
    .buttonImage--header {
        top: 15px;
        right: 0;
        width: 25px;
    }
}

.buttonImage--menu {
    background: none;
    vertical-align: middle;
    margin: 5px;
}

.buttonImage--menuClose {
    position: absolute;
    top: 40px;
    right: 30px;
}