.clear {
    grid-row-start: 3;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: start;
}

@media (max-width: 630px) {
    .clear {
        grid-row-start: auto;
        grid-column-start: auto;
        grid-gap: 10px;
        justify-content: space-between;
    }
}

@media (max-width: 380px) {
    .clear {
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto); */
        grid-gap: 5px;
    }
}