.clear {
    grid-row-start: 3;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    justify-content: start;
}

@media (max-width: 650px) {
    .clear {
        justify-content: space-between;
    }
}