.form {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

@media (max-width: 830px) {
    .form {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 630px) {
    .form {
        grid-column-start: auto;
    }
}

.form__input {
    padding: 10px;
    background: hsla(0, 0%, 100%, 0.4);
    border: none;
    border-radius: 5px;
    width: 450px;
}

@media (max-width: 470px) {
    .form__input {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .form__input {
        font-size: 12px;
    }
}