.form {
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 450px auto;
    grid-gap: 10px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    background: hsla(0, 0%, 100%, 0.4);
    border: none;
    border-radius: 5px;
    width: 450px;
}