html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url("../images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
    background-position: center top;
    background-size: cover;
    text-align: center;
    margin: 0 10px;
}

.noDisplay {
    display: none;
}