.header {
    /* display: grid;
    grid-template-columns: 1fr auto; */
    /* grid-gap: 30px; */
    margin: 30px;
}

@media (max-width: 580px) {
    .header {
        margin: 30px 0;
        position: relative;
    }
}

.header__title {
    margin: 0 auto;
}