.header {
    /* display: grid;
    grid-template-columns: 1fr auto; */
    /* grid-gap: 30px; */
    margin: 30px;
}

/* @media (max-width: 580px) {
    .header {
        margin: 20px 0 40px;
        position: relative;
    }
} */

.header__title {
    margin: 0 auto;
}

/* @media (max-width: 580px) {
    .header__title {
        font-size: 26px;
    }
} */