.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin: 60px 0;
}

/* @media (max-width: 650px) {
    .main {
        grid-column-gap: 10px;
    }
}

@media (max-width: 580px) {
    .main {
        margin: 0 15px;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 20px;
    }
} */