.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 20px;
    grid-row-gap: calc(100vh * 0.03);
    margin: 0 auto;
}

@media (max-width: 830px) {
    .main {
        grid-template-columns: 1fr 450px;
        grid-column-gap: 10px;
        grid-row-gap: calc(100vh * 0.02);
    }
}

@media (max-width: 630px) {
    .main {
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-row-gap: calc(100vh * 0.02);
    }
}