.main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    margin: 60px 0;
    justify-content: center;
}

@media (max-width: 767px) {
    .main {
        grid-template-columns: 1fr;
    }
}