.sheet {
    grid-row-start: 2;
    grid-column-start: 2;
    width: 450px;
    max-width: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}

.sheet__header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    height: 55px;
    margin: 30px 40px;
    align-self: center;
}

/* @media (max-width: 650px) {
    .sheet__header {
        margin: 30px 30px 0;
    }
} */

.sheet__headerTitle {
    padding: 0;
    margin: 0;
}

/* @media (max-width: 650px) {
    .sheet__headerTitle {
        font-size: 20px;
    }
} */

.sheet__listContainer {
    height: 520px;
    overflow-y: auto;
}

/* @media (max-width: 650px) {
    .sheet__listContainer {
        height: 47vh;
    }
} */

.list {
    text-align: left;
    list-style: none;
    padding: 0 40px;
    margin: 0;
}

/* @media (max-width: 650px) {
    .list {
        padding: 0 30px;
    }
} */

.list__item {
    padding: 15px 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-self: center;
    font-size: 18px;
}

.list__content {
    align-self: start;
    overflow-wrap: break-word;
}

/* @media (max-width: 650px) {
    .list__content {
        font-size: 16px;
    }
} */