.sheet {
    max-width: 500px;
    min-height: 60vh;
    margin: 50px auto;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    padding: 10px 20px;
}

.list {
    text-align: left;
    list-style: none;
    padding: 10px;
}

.list__item {
    padding: 15px 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.list__content {
    align-self: start;
    overflow-wrap: break-word;
    /* word-break: break-all; */
}

.list__button {
    width: 20px;
    height: 20px;
    background: white;
    border: none;
    padding: 0;
}

.list__button:focus, .list__button:active {
    overflow: hidden;
}